h2 {
  margin-top: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h3 {
  margin-top: 25px;
  font-weight: normal;
  font-size: 1.1em;
  color: #555;
}

.location {
  font-weight: normal;
  font-size: 0.9em;
  color: #777;
}
